
h2{
    color: black;
    font-family: Times New roman;
}
body{
    background-color: pink;
}
table{
    /* font-style: italic; */
    font-size: 20px;
    font-family: Calibri;
}
.zz{
    background-color: mintcream;
}