
h2{
    color: black;
    font-style: normal;
    font-family: Arial Narrow;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 100px;

}
h2:hover{
    color: peru;
    letter-spacing: normal;
}
body{
    font-family: Times New Roman;
    text-align: center;
    background-color:rgb(156, 156, 236) ;
    margin-bottom: 450PX;
}
.tabelku{
    background-image: linear-gradient(to bottom right, #c165DD, #5c27fe);
    font-family: Times New Roman;
}
tr:hover{
    background: rgb(134, 134, 134);
    transition: .5s;
}